@model IEnumerable<Abstracciones.Modelos.Ventas.VentasDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caja_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caja_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Venta_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.Venta_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Venta_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
