@using TicoSportSocksConnect.UI.Models
@model RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <meta charset="utf-8" />
    <title>Control de Cajas | Clivax - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Codebucks" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <!-- dark layout js -->
    <script src="~/Scripts/js/pages/layout.js"></script>
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/css/app.css" />
    <link rel="stylesheet" href="~/Content/css/icons.css" />

</head>

<section class="vh-50" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/Content/images/register.jpg"
                                 alt="login form" class="img-fluid"
                                 style="border-radius: 1rem 0 0 1rem; width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="text-center h1 fw-bold mb-0">Registro de Usuario</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Crea una cuenta nueva</h5>

                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <div class="form-outline mb-4">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", placeholder = "Correo electrónico" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-outline mb-4">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", placeholder = "Contraseña" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-outline mb-4">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-lg", placeholder = "Confirmar contraseña" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>

                                    <h6 class="fw-bold mb-3">Selecciona tu rol:</h6>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="radio" name="Rol" id="RolAdministrador" value="Administrador">
                                        <label class="form-check-label" for="RolAdministrador">
                                            Administrador
                                        </label>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Registrar</button>
                                    </div>

                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        ¿Ya tienes una cuenta? <a href="@Url.Action("Login", "Account")" style="color: #393f81;">Inicia sesión aquí</a>
                                    </p>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
